ad_communist
opt_class
USSR_simulator

ad_communist.txt
adventure_communist.py
airplane_game.py
airplane.png
audio_test.py
Avoid_the_ball.py
brute_9mini.py
cardscore.py
codingdojang.py
copy_USSR_simulator.py
DIY_defense_game.txt
dfs_bfs.py
explosion.png
explosion.webp
mushroom.jpg
phasing.py
pokemon_prob.py
stage1_airplane.png
stage2_airplane.png
stage2_airplane.webp
stage3_airplane.gif
stage4_airplane.gif